.mainDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin : 0 20%;
  background-color: lightgray;
}

.red{
  color: red;
}

.blue{
  color: blue;
}
